/* Remove bounce on scroll */
html, body {
  height: 100%;
  overflow: hidden;
}
#mainContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
.container {
  padding: 2% 8%;
}
.bg {
  background-color: #E7F3F3;
}

/* Navigation bar */
nav > a {
  float: left;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 1% 2% 1% 0;
}
nav .topnav-right {
  float: right;
  padding: 1% 2%;
  width: 40%
}
nav .topnav-right a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
  margin: 0 5%;
  position: relative;
}
nav .topnav-right a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
nav .topnav-right a:hover::before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* CTA section */
#cta {
  height: 100vh;
  position: relative;
  font-family: 'Fira Sans', sans-serif;
}
.tagline {
  position:absolute;
  left: 8%;
  top:30%;
}
.tagline h1 {
  font-size: 4rem;
  margin: 0
}
.tagline p {
  font-size: 2rem;
}

/* about section */
#about {
  height: 100vh;
  font-size: 1.2rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}
.leftColumn {
  float: left;
  width: 47%;
  line-height:1.6;
}
.rightColumn {
  float: right;
  width: 47%;
  line-height:1.6;
}
.rightColumn img {
  width: 100%
}

/* skills section */
#skills {
  clear:both;
}
