/* remove bounce on scroll */
html {
  overflow: hidden;
  height: 100%;
}
body {
  height: 100%;
  overflow: auto;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.bg {
  background-color: #e7f3f3;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 24px;
  line-height: 1.35em;

  @media screen and (min-width: 640px) {
    font-size: 30px;
    line-height: 1em;
  }
}

h2 {
  font-family: "Merriweather", serif;
  font-size: 20px;
  line-height: 1.35em;

  @media screen and (min-width: 640px) {
    font-size: 22px;
    line-height: 1em;
  }
}

p {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  line-height: 1.35em;

  @media screen and (min-width: 640px) {
    font-size: 18px;
    line-height: 1.3em;
  }
}

#cta > div {
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

/* Navigation bar */
nav {
  margin: 20px;
  position: absolute;
  right: 0;
}
nav a {
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin-right: 20px;
  position: relative;
}
nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
nav a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* CTA section */
#cta {
  height: 100vh;
  position: relative;
  background-image: url("images/trianglify.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.tagline {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tagline h1 {
  margin: 0;
  font-size: 40px;

  @media screen and (min-width: 640px) {
    font-size: 60px;
  }
}
.tagline p {
  font-size: 24px;

  @media screen and (min-width: 640px) {
    font-size: 32px;
  }
}
.tagline .changing {
  font-style: italic;
  font-weight: 600;
}

/* about section */
#about .content {
  display: flex;
  flex-direction: column;
  column-gap: 32px;

  @media screen and (min-width: 640px) {
    flex-direction: row;
  }
}

#about .content > div {
  flex-basis: 50%;
  line-height: 1.6;
}

#about .content img {
  display: block;
  width: 100%;
}

/* skills section */
#skills > div {
  clear: both;
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;

  @media screen and (min-width: 640px) {
    grid-template-columns: 1fr 1fr;
  }
}

#skills .logos {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

#skills .logos img {
  height: 50px;

  @media screen and (min-width: 640px) {
    height: 70px;
  }
}

#skills .logos .rect {
  width: 150px;
}

/* portfolio section */
#portfolio h1 {
  border-bottom: 2px solid #eee;
}
.work {
  display: flex;
  flex-direction: column;
  column-gap: 32px;
  margin-bottom: 50px;

  @media screen and (min-width: 640px) {
    flex-direction: row;
  }
}
.work.reverse {
  @media screen and (min-width: 640px) {
    flex-direction: row-reverse;
  }
}
.work > div {
  flex-basis: 100%;
}
.work > div > img {
  width: 100%;
}

.button {
  border: 2px solid #008080;
  color: #008080;
  font-size: 1em;
  text-decoration: none;
  padding: 8px;
  margin: 0 15px 15px 0;
  display: inline-block;
}
.button:hover {
  background-color: #008080;
  color: white;
  cursor: pointer;
}
.button img,
.button p {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
  margin: 0 5px;
  font-weight: normal;
}

/* professional section */
#professional h1 {
  border-bottom: 2px solid #eee;
}
#professional p {
  font-weight: 300;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.projects a {
  color: black;
  font-size: 17px;
  max-width: 380px;
  text-decoration: none;
}
.projects a img {
  width: 100%;
  display: block;
}
.projects a:hover img {
  opacity: 0.8;
}

/* contact footer section */
#contact img {
  height: 35px;
  margin: 0;
  opacity: 0.5;

  @media screen and (min-width: 640px) {
    height: 40px;
    margin-right: 20px;
  }
}
#contact img:hover {
  opacity: 1;
}
