/* Remove bounce on scroll */
html {
  overflow: hidden;
  height: 100%;
}
body {
  height: 100%;
  overflow: auto;
  margin: 0;
}
.container {
  padding: 2% 10%;
}
.bg {
  background-color: #E7F3F3;
}

/* Navigation bar */
nav {
  display: flex;
  justify-content: flex-end;
  padding: 2%;
}
nav a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
  margin: 0 2%;
  position: relative;
}
nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
nav a:hover::before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* CTA section */
#cta {
  height: 100vh;
  position: relative;
  font-family: 'Fira Sans', sans-serif;
  background-image: url('images/trianglify.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.tagline {
  position:absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}
.tagline h1 {
  font-size: 4rem;
  margin: 0;
  font-family: 'Merriweather', serif;
}
.tagline p {
  font-size: 2rem;
  line-height: 1.6
}
#changing {
  font-style: italic;
  font-weight: 600;
}

/* about section */
#about {
  font-size: 1.2rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  height: auto
}
.leftColumn {
  float: left;
  width: 47%;
  line-height:1.6;
}
.rightColumn {
  float: right;
  width: 47%;
  line-height:1.6;
}
.rightColumn img {
  width: 100%
}

/* skills section */
#skills {
  clear:both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#skills div:nth-child(odd) {
  width: 40%;
}
#skills div:nth-child(even) {
  width: 60%;
}
#skills div h2 {
  width: 100%
}
#skills div img {
  display: inline-block;
  margin: 0 5% 3% 0;
  height: 70px;
}
.rect {
  width: 100px
}

/* portfolio section */
#portfolio {
  font-size: 1.2rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}
#portfolio h1 {
  border-bottom: 2px solid #eee;
}
.work {
  padding-bottom: 7%;
  display: flex;
  flex-direction: row;
}
.half {
  width: 49%;
  margin-right: 2%;
}
.left {
  width: 100%;
  float:right
}
.right {
  width: 100%;
  float:left
}
.button {
  border: 3px solid #008080;
  color: #008080;
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
  padding: 8px;
  margin-right: 15px;
  display:inline-block;
  width: 90px
}
.button:hover{
  background-color: #008080;
  color: white;
  cursor: pointer;
}
.button img,
.button p {
  display: inline-block;
  vertical-align:middle;
  height: 20px;
  margin: 0 5px;
}

/* professional section */
#professional {
  font-size: 1.2rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}
#professional h1 {
  border-bottom: 2px solid #eee;
}
.project a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}
.project a div {
  display: inline-block;
  width: 30%;
  vertical-align: text-top;
  padding: 0 1%;
}
.project a img {
  width: 100%;
  display: block;
}

/* contact footer section */
#contact {
  height: 25vh;
  padding-top: 1%;
  font-family: 'Fira Sans', sans-serif;
}
#contact div:first-of-type {
  width: 60vh;
  position: relative;
}
#contact img {
  height: 40px;
  margin: 0 2%;
  opacity: .5;
}
#contact img:hover {
  opacity: 1;
}
#download {
  position: absolute;
  border: 3px solid #008080;
  background-color: #E7F3F3;
  color: #008080;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  margin: 0 5%;
  padding: 8px;
}
#download:hover{
  background-color: #008080;
  color: white;
  cursor: pointer;
}

/* media queries  */
@media screen and (max-width: 600px) {
  nav {
    justify-content: space-evenly;
  }
  .tagline h1 {
    font-size: 2.5rem;
  }
  .tagline p {
    font-size: 1.2rem;
  }
  .leftColumn,
  .rightColumn {
    float: none;
    width: 100%;
  }
  #skills {
    flex-direction: column
  }
  #skills div:nth-child(odd),
  #skills div:nth-child(even) {
    width: 100%;
  }
  #skills div h2 {
    font-size: 1.2rem
  }
  #skills div img {
    height: 45px;
  }
  .project a div {
    width: 100%;
    padding: 0;
  }
  #about, #portfolio, #download, #contact {
    font-size: 1rem
  }
  .work {
    flex-direction: column;
    padding-bottom: 10%;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .half {
    width: 100%;
  }
  #contact img {
    height: 35px;
    margin: 0;
  }
  #download {
    padding: 5px;
  }
}
@media screen and (max-width: 330px) {
  .button {
    padding: 5px;
    margin-right: 0;
    max-width: 43%;
    width: auto;
  }
}
